body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(to bottom, #a62824, #fd8271);
  color: #2f2f2f;
  overflow: hidden;
  margin: 0 8px;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Main {
  height: 90%;
}

.container {
  height: 100%;
  max-width: 500px;
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  flex: 1;
  position: relative;
  padding-bottom: 150px;
  box-sizing: border-box;
}

form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #e6e6e6;
  padding: 10px;
}

form button {
  margin-top: 10px;
}

form p {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.switch {
  color: white;
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.ContactList {
  height: 100%;
  overflow: auto;
}